
header {
    width: 100%;
    height: 6rem;
    background: url("../img/27.jpg") no-repeat center center;
    background-size: 100% 100%;
}
.content{
    position: relative;
    padding-top: 2rem;
}
.content .part{
    border-bottom: 1px grey solid;
    padding:10px;
}
.content .part a{
    height: 1.5rem;

    color: #959595;
    font-size: 0.7rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content .part  a:hover{
    color: black;

}
.content .part>div{
    text-align: center;


}
.content .part .title a{
    color: black;
    height: 2rem;
    font-size: 1rem;
    line-height: 2rem;
}
#about{
    text-align: center;
}
#about .timeLine{
    /*width: 100%;*/
}
 ¡¡