
header {
    width: 100%;
    height: 6rem;
    background: url("../img/27.jpg") no-repeat center center;
    background-size: 100% 100%;
}
.content{
    position: relative;
    padding-top: 2rem;
}
.content .part{
    border-bottom: 1px grey solid;
    padding:10px;
}
.content .part a{
    height: 1.5rem;

    color: #959595;
    font-size: 0.7rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content .part  a:hover{
    color: black;

}
.content .part>div{
    text-align: center;


}
.content .part .title a{
    color: black;
    height: 2rem;
    font-size: 1rem;
    line-height: 2rem;
}
#about{
    text-align: center;
}
#about .timeLine{
    /*width: 100%;*/
}
 /**/
/*footer,article, aside {*/
    /*background: cornsilk;*/
    /*padding:  10px;*/
    /*border:solid #ffeba9 thick;*/
    /*border-radius: 15px;*/
    /*margin: 10px;*/
/*}*/
/*aside {*/
    /*display: table-cell;*/
    /*width: 200px;*/
    /*vertical-align: top;*/
    /*background: cornsilk  url("../logo.png") no-repeat right top ;*/
/*}*/
/*article{*/
    /*display: table-cell;*/
    /*vertical-align: top;*/

/*}*/
/*#table{*/
    /*display: table;*/
    /*border-spacing: 10px;*/
/*}*/
/*#row{*/
    /*display: table-row;*/
/*}*/
/*p   {*/
    /*padding: 0px;*/
    /*margin: 10px;*/
    /*line-height: 1.6em;*/
    /*font-size: 0.9em;*/
/*}*/

/*aside ul{*/
    /*list-style-type: circle;*/
/*}*/
/*aside li{*/
    /*transition: 0.6s;*/
/*}*/
/*aside li:hover{*/
    /*transform:translate(10px) ;*/
/*}*/
/*aside a{*/
    /*text-decoration: none;*/
/*}*/

/*footer{*/
    /*margin:0px 10px;*/
/*}*/
/*.focus{*/
    /*color: #0000FF;*/
/*}*/

/*.book{*/
    /*display: inline-block;*/
    /*width: 150px;*/
    /*height: 200px;*/
    /*border: thick grey solid;*/
    /*box-sizing: border-box;*/
    /*padding: 10px;*/
    /*margin: 10px;*/
/*}*/