body{
    font: 12px/2em Tahoma;
}


#tools{
    position: fixed;
    top: 0px;
    left:0px;
    right:0px;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    min-width: 350px;
    height: auto;
    box-sizing: border-box;
    /*border: solid medium #61bdfa;*/
    background: #EEF1F2;
    border:6px #e0e0e0 solid;

}

#content{
    width: 80%;
    min-height: 500px;
    min-width: 300px;

    margin: 70px auto 200px auto;
    border:6px #e0e0e0 solid;
    border-top: none;
    padding: 0px 0px 100px 0px;

    /*box-sizing: border-box;*/
    background: ghostwhite;
}
#content p{
    margin: 0px 10px;
}

B{
    /*color: red;*/
}

#toolBar{
    padding-left: 25px;
    margin: auto;
    width: auto;
    height: auto;
    vertical-align: middle;
    display: inline-block;

}

#toolBar_N{
    text-align: left;
}

#toolBarButtonArea div {
    display: inline-block;
    width: 24px;
    height: 24px;
    padding: 0px;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    background-color: rgba(212, 212, 212, 1);
    border-radius: 4px;
    border: outset thin rgba(135, 135, 135, 0.41);
    cursor: pointer ;
    box-sizing: border-box;
}

#chooseColor{
    position: absolute ;
    width: 24px;
    margin: -2px 0px auto auto;
    display: none;
}
#chooseColor div{
    cursor: pointer ;

    width:24px ;
    height:24px ;
    border-radius: 4px;
    margin: 2px 0px;
    box-sizing: border-box;

}
#toolBar_I{
    font-style: oblique;
}
#yellow{
    background-color: rgba(255, 255, 0, 1);
}
#blue{
    background-color: rgba(0, 0, 255,1);
}
#pink{
    background-color: rgba(255, 0, 255,1);
}
#orange{
    background-color: rgba(255, 120, 0,1);
}
.blackBorder{
    border: solid black 2px;
    background-color: black;
}

#chooseLevel{
    display: inline-block;
    margin: auto 3px;
    width: 24px;
    height: 24px;
    padding: 0px;
    background: rgba(212, 212, 212, 1) url("ico.gif") no-repeat 7px 10px;
    border-radius: 3px;
    border: outset thin rgba(212, 212, 212, 1);
    cursor: pointer ;
    vertical-align: middle;
    box-sizing: border-box;
}
#numberList{
    position: absolute;
    display: none;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    width:24px ;
    margin: 0px;
    /*-moz-margin-start: 5px;*/
}
#numberList div{
    cursor: pointer ;

    width:24px ;
    height:24px ;
    background-color: rgba(212, 212, 212, 1);
    border: outset thin rgba(135, 135, 135, 0.41);
    border-radius: 4px;
    margin: 2px 0px;
    box-sizing: border-box;
}
#levelDetail span{
    /*display: none;*/
    cursor: pointer ;
    display: inline-block;
    width:24px ;
    height:24px ;
    background-color: rgba(212, 212, 212, 1);
    border: outset thin rgba(135, 135, 135, 0.41);
    border-radius: 4px;
    margin: 2px 1px;
    box-sizing: border-box;
    vertical-align: middle;
    text-align: center;
}
#symbols{
    position: absolute;
    display: none;

}
#symbols div{
    cursor: pointer ;
    display: block;
    width:24px ;
    height:24px ;
    background-color: rgba(212, 212, 212, 1);
    border: outset thin rgba(135, 135, 135, 0.41);
    border-radius: 4px;
    margin: 1px 0px;
    box-sizing: border-box;
    vertical-align: middle;
    text-align: center;
}
.spanLevel{
    font-weight: 800;
    vertical-align: top;
    /*display: block;*/
    padding: 15px;
    margin: auto 0px auto -35px;
}
.h1{
    font-size: 26px;
    line-height: 1.5em;
}
.h2{
    font-size: 22px;
    line-height: 1.5em;
}
.h3{
    font-size: 18px;
    line-height: 1.5em;
}
.h4{
    font-size: 14px;
    line-height: 1.5em;
}
.h5{
    font-size: 10px;
    line-height: 1.5em;
}

#content>p>p{
    font-family:  Tahoma;

    display: inline-block;
    width: 80%;
}

#message{
    opacity: 0.1;
    position: fixed;
    text-align: center;
    line-height:50px;
    font-size: 20px;
    display: none;
    width: 20%;
    min-width: 250px;
    left:0px;
    right:0px;
    margin-right: auto;
    margin-left: auto;
    height: 50px;
    top: 400px;
    background-color: #d3d6d7;
    box-sizing: border-box;

}

#toolBar_U{
    text-decoration: underline;
}

